<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h1>About us is listed here</h1>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quos iste
        deserunt voluptas hic blanditiis dolor cupiditate est delectus assumenda
        ab officiis, consequatur reiciendis ratione consectetur deleniti ducimus
        natus ullam.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quos iste
        deserunt voluptas hic blanditiis dolor cupiditate est delectus assumenda
        ab officiis, consequatur reiciendis ratione consectetur deleniti ducimus
        natus ullam.
      </p>
    </div>
  </body>
</html>
