<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>All about this blog</h2>
      <br />
      <p>
        This blog is a simple blog created using Node.js, Express, and EJS. It
      </p>
      <p>
        Its made for learning purposes and to demonstrate how to create a blog
        and would be a good starting point for beginners.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
