@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif", serif;
}
p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #162544;
  color: #fff !important;
  padding: 20px;
  border-bottom: 2px solid #fff;
  border-radius: 8px 8px 0 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  list-style-type: none;
  margin-left: 20px;
}
nav h1 {
  font-size: 3em;
}
nav p,
nav a {
  color: #00a476;
  font-weight: 300;
}
nav a:hover {
  color: #fff;
  font-weight: 300;
}
footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
h2 {
  margin-bottom: 40px;
}
h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
}
.content {
  background-color: #162544;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 0 0 8px 8px;
}

.content-card {
  display: block;
  margin: 0 0 20px 0;
  padding: 20px;
  border: 1px solid #00a476;
  border-left: 6px solid #00a476;
  border-right: 6px solid #00a476;
  border-radius: 8px;
}

.content-card:hover {
  box-shadow: 1px 2px 3px #00a476;
}

.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog label {
  display: block;
  margin-top: 24px;
}
textarea {
  height: 120px;
}

.create-blog button {
  margin-top: 20px;
  background: #00a476;
  color: white;
  padding: 12px 36px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
}

.create-blog button:hover {
  box-shadow: 1px 2px 3px #00a476;
}

form > label {
  color: #fff;
}
form > input {
  border-radius: 4px;
}

.read-more {
  color: #00a476;
  font-size: 0.75em;
  cursor: pointer;
  margin-top: 20px;
  padding-top: 20px;
}

.read-more:hover {
  color: #fff;
}

.button {
  color: #fff;
  padding: 12px 24px;
  border: 1px solid #00a476;
  border-radius: 8px;
  font-size: 0.75rem;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px #00a476;
}
